.o-hamburger {
    @include z-index(hamburger);
    @extend %anim;
    @extend %rel;
    width: 40px; height: 26px;
    border-top: 6px solid $c-primary;
    margin-top: -5px;
    cursor: pointer;
    display: none;

    @media screen and ( max-width: $tablet + px ) {
        display: block;
    }
    
    @media screen and ( max-width: $smartphone + px ) {
        width: 30px; height: 16px;
        border-top: 4px solid $c-primary;
    }

    &:after, &:before {
        @extend %abs;
        @extend %abs-after;
        @extend %anim;
        width: 100%; 
        height: 6px;
        background-color: $c-primary;
        
        @media screen and ( max-width: $smartphone + px ) {
            height: 4px;
        }
    }
    
    &:after {
        transform-origin: right;
        top: 100%;
    }
    
    &:before {
        transform-origin: left;
        top: calc(50% - 3px);
        
        @media screen and ( max-width: $smartphone + px ) {
            top: calc(50% - 2px);
        }
    }
    
    &.is-active {
        border-color: transparent !important;

        &:after {
            transform: rotate(45deg) translate(-2px, 2px);
            
            @media screen and ( min-width: $smartphone + 1px ) {
                transform: rotate(45deg) translate(-7px, 2px);
            }
        }
        
        &:before {
            transform: rotate(-45deg) translate(-2px, 10px);            
        }
    }
}

