[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-hamburger:before {
  content: "\e90d";
}
.icon-bulb:before {
  content: "\e900";
}
.icon-certificate:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-price:before {
  content: "\e903";
}
.icon-quality:before {
  content: "\e904";
}
.icon-stroller:before {
  content: "\e905";
}
.icon-transport:before {
  content: "\e906";
}
.icon-warranty:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-circle-up:before {
  content: "\e90b";
}
.icon-up:before {
  content: "\e90b";
}
.icon-circle-top:before {
  content: "\e90b";
}
.icon-arrow:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e909";
}
.icon-contact1:before {
  content: "\e909";
}
.icon-envelope:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e90a";
}
.icon-contact:before {
  content: "\e90a";
}
.icon-location:before {
  content: "\e908";
}
.icon-map-marker:before {
  content: "\e908";
}
.icon-marker:before {
  content: "\e908";
}
.icon-pin:before {
  content: "\e908";
}
