@keyframes pulse {
    0%   {
        background: white;
    }
    50% {
        background: #efefef;
    }
    
    100% {
        background: white;
    }
}

.c-map {
    height: 100%;

    &.is-loading {
        //animation: pulse 1s infinite;
    }
}